<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lamon - Vault Hardware Keeper</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebInterface.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Lamon - Vault Hardware Keeper</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        Zasoby
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a asp-page="/Computers">Komputery</a>
                            </li>
                            <li class="list-group-item">
                                <a asp-page="/Monitors">Monitory</a>
                            </li>
                            <li class="list-group-item">
                                <a asp-page="/Summary">Podsumowanie</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        Przestrzeń robocza
                    </div>
                    <div class="card-body">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <footer class="fixed-bottom">
            <div class="container">
                <div class="row">
                    <div class="col">
                        WSB-NLU Damian Lamonski
                    </div>
                    <div class="col text-right">
                        @DateTime.Now
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
