@{
    var cookie = Context.Request.Cookies["email"];
    GlobalData.WhichLayout = cookie != null ? "_LoggedInLayout" : "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lamon - Vault Hardware Keeper</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebInterface.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="container">

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid row">
                <div class="col">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        @await Component.InvokeAsync("PageContentViewComponent", new { type = "LogoButton" })
                    </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                </div>                
                <div class="col d-flex justify-content-end">                    
                    <a class="btn btn-primary me-2" data-toggle="tooltip" title="Informacje o użytkowniku" asp-asp-area="" asp-controller="User" asp-action="Details">
                            @Context.Request.Cookies["email"]
                    </a>
                    <a class="btn btn-primary" data-toggle="tooltip" title="Wyloguj" asp-asp-area="" asp-controller="User" asp-action="Logout">
                            @await Component.InvokeAsync("PageContentViewComponent", new { type = "LogoutButton" })
                    </a>

                </div>
            </div>
        </nav>
    </header>







        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        @await Component.InvokeAsync("PageContentViewComponent", new { type = "ResourcesNameHeader" })
                    </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a asp-area="" asp-controller="Computer" asp-action="Index" class="btn btn-primary btn-block d-flex justify-content-center">
                                    @await Component.InvokeAsync("PageContentViewComponent", new { type = "ComputerCategoryName" })    
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a asp-area="" asp-controller="Monitor" asp-action="Index" class="btn btn-primary btn-block d-flex justify-content-center">
                                    @await Component.InvokeAsync("PageContentViewComponent", new { type = "MonitorCategoryName" })    
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a asp-area="" asp-controller="Software" asp-action="Index" class="btn btn-primary btn-block d-flex justify-content-center">
                                @await Component.InvokeAsync("PageContentViewComponent", new { type = "SoftwareCategoryName" })    
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a asp-area="" asp-controller="License" asp-action="Index" class="btn btn-primary btn-block d-flex justify-content-center">
                                @await Component.InvokeAsync("PageContentViewComponent", new { type = "LicenseCategoryName" })    
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a asp-area="" asp-controller="NetworkDevice" asp-action="Index" class="btn btn-primary btn-block d-flex justify-content-center">
                                @await Component.InvokeAsync("PageContentViewComponent", new { type = "NetworkDeviceCategoryName" })    
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a asp-area="" asp-controller="Device" asp-action="Index" class="btn btn-primary btn-block d-flex justify-content-center">
                                @await Component.InvokeAsync("PageContentViewComponent", new { type = "DeviceCategoryName" })    
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a asp-area="" asp-controller="Printer" asp-action="Index" class="btn btn-primary btn-block d-flex justify-content-center">
                                    @await Component.InvokeAsync("PageContentViewComponent", new { type = "PrinterCategoryName" })    
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a asp-area="" asp-controller="Phone" asp-action="Index" class="btn btn-primary btn-block d-flex justify-content-center">
                                    @await Component.InvokeAsync("PageContentViewComponent", new { type = "PhoneCategoryName" })    
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a asp-area="" asp-controller="RackCabinet" asp-action="Index" class="btn btn-primary btn-block d-flex justify-content-center">
                                @await Component.InvokeAsync("PageContentViewComponent", new { type = "RackCabinetCategoryName" })    
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a asp-area="" asp-controller="Server" asp-action="Index" class="btn btn-primary btn-block d-flex justify-content-center">
                                @await Component.InvokeAsync("PageContentViewComponent", new { type = "ServerCategoryName" })    
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a asp-area="" asp-controller="SimCard" asp-action="Index" class="btn btn-primary btn-block d-flex justify-content-center">
                                @await Component.InvokeAsync("PageContentViewComponent", new { type = "SimCardCategoryName" })    
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a asp-area="" asp-controller="Ticket" asp-action="Index" class="btn btn-primary btn-block d-flex justify-content-center">
                                @await Component.InvokeAsync("PageContentViewComponent", new { type = "TicketCategoryName" })    
                                </a>
                            </li>
                        </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        Przestrzeń robocza
                    </div>
                    <div class="card-body container">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>



        <footer class="fixed-bottom">
            <div class="container">
                <div class="row">
                    <div class="col">
                        WSB-NLU Damian Lamonski
                    </div>
                    <div class="col d-flex justify-content-end">
                        @DateTime.Now
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
