@model IEnumerable<Data.Computers.SelectVMs.SoftwaresVM>

@{
    ViewData["Title"] = "Index";
}

<h1>@await Component.InvokeAsync("PageContentViewComponent", new { type = "SoftwareCategoryName" })</h1>


<div class="row">
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
                                    <div class="col-md">
                                        <div class="card">
                                            <div class="card-body">   
                                                <h5 class="card-title">@item.Name</h5>
                                                <p class="card-text">
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "SoftwarePublisherName" })</strong> <br />
                            @item.Publisher<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "SoftwareLocationName" })</strong> <br />
                            @item.Location<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "SoftwareStatusName" })</strong> <br />
                            @item.Status<br />                                                    
                                                </p>

                                            </div>
                                        </div>
                                    </div>
        }
    }
    else
    {
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Brak obiektów do wyświetlenia</h5>
                            </div>
                        </div>
                    </div>
    }
</div>
