@model Data.Computers.SelectVMs.ServerVM
@using TinyMCE.Blazor
@{
    ViewData["Title"] = "PrintToPDF";
}

<h1>@await Component.InvokeAsync("PageContentViewComponent", new { type = "PrintToPDFHeader" })</h1>

<hr />
<div class="container">
    <div class="row">
        <div class="col">
            <form id="pdfForm"  method="post" asp-route-id="@ViewBag.Id">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>              
                        <div>
                        <input type="hidden" asp-for="@Model.Name"/>
                          <textarea id="tiny" asp-for="@Model.Template">
                              @Html.Raw(Model.Template)
                          </textarea>
                        </div>
                    <div class="form-group mt-2">
                    <input type="button" value="@await Component.InvokeAsync("PageContentViewComponent", new { type = "PrintToPDFButtonHeader" })" class="btn btn-primary" onclick="generatePDF()"/>
                </div>
            </form>
        </div>
    </div>
</div>
